h1 {
  color: #003055;
  /* border-color: purple;
  border-width: 5px;
  border-style: solid; */

  border: 2px solid purple;
}

/* width
color
style */

h4 {
  background: rgb(253, 55, 29);
}

body {
  background: lightslategray;
  /* background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/wood-grain-2-ed-einboden.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
